# In this file you could override any variables present in default_front.yaml file

#. cassandra_admin_password (optional): ((vault_cassandra_admin_password))
#+ Password used for cassandra admin user
cassandra_admin_password: ((vault_cassandra_admin_password))

#. api_deploy_bucket_name (required): ($ project $)-deploy
#+ AWS S3 bucket name in which we will store your api built code.
api_deploy_bucket_name: ($ project $)-api-deploy

#. api_deploy_bucket_object_path (required): /catalog-api/($ environment $)/api.tar.gz
#+ AWS S3 bucket path in which we will store your api built code.
api_deploy_bucket_object_path: /catalog-api/($ environment $)/api.tar.gz

#. ansible_vault_password (required): ((custom_ansible_vault_password))
#+ Password used by ansible vault to decrypt your vaulted files.
ansible_vault_password: ((custom_ansible_vault_password))

#. bastion_url (required): user@bastion.server.com
#+ bastion URL used by ansible to connect on AWS EC2 instances.
bastion_url: user@bastion.server.com

#. bastion_private_key_pair (required): ((ssh_bastion.ssh_key))
#+ bastion SSH private key used by ansible to connect on AWS EC2 instances and the bastion itself.
bastion_private_key_pair: ((ssh_bastion.ssh_key))
